@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
	font-size: 12px;
}
.modal > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}
.modal > .content {
	width: 100%;
	padding: 10px 5px;
}
.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
}
.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.carousel-container {
	height: 30rem;
}

.carousel-item {
	padding: 2px;
	align-self: center;
	justify-items: center;
	justify-self: center;
	height: 100%;
}

.custom-dot-list-style {
	font-size: large;
}

.slider-class {
	place-items: center center;
	height: 90%;
}
